
<h2 style="text-align: center;" mat-dialog-title>Passwort ändern</h2>
<form [formGroup]="passwordForm">
    <mat-form-field >
        <mat-label>Neues Passwort</mat-label>
        <input matInput formControlName="password">
        <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
        
    </mat-form-field>
    
    <mat-form-field style="padding-left: 5px;">
        <mat-label>Neues Passwort bestätigen</mat-label>
        <input matInput formControlName="passwordValidation">
        <mat-error *ngIf="hasError('password', 'required')">Password validation is required</mat-error>
    </mat-form-field>
</form>


<div mat-dialog-actions align="end">
    <button (click)="handleAbort()" type="button" color="warn" mat-raised-button >Abbrechen</button>
    <button (click)="handleSave()" color="primary" type="submit" mat-raised-button >Speichern</button>
</div>
