<h2 class="center_text" mat-dialog-title>Passwort ändern</h2>
<form [formGroup]="passwordForm">
    <mat-form-field>
        <mat-label>Neues Passwort</mat-label>
        <input matInput formControlName="password">
        <mat-error *ngIf="hasError('password', 'required')">Password wird benötigt</mat-error>

    </mat-form-field>

    <mat-form-field class="padding_left_5">
        <mat-label>Neues Passwort bestätigen</mat-label>
        <input matInput formControlName="passwordValidation">
        <mat-error *ngIf="hasError('password', 'required')">Password bestätigung wird benötigt</mat-error>
    </mat-form-field>
</form>


<div mat-dialog-actions align="end">
    <button (click)="handleAbort()" color="warn" type="button" mat-raised-button>Abbrechen</button>
    <button (click)="handleSave()" color="primary" type="submit" mat-raised-button>Speichern</button>
</div>