<mat-toolbar class="stickyBar" color="primary">
    <mat-toolbar-row>
      <span>Ziele von: {{currentUser.firstName + " " +currentUser.lastName}}</span>
    </mat-toolbar-row>
</mat-toolbar>


  <mat-accordion class="example-headers-align">
    <div *ngFor="let goal of goals">

    <mat-expansion-panel>
      <mat-expansion-panel-header style="align-items:center;">
        <mat-panel-title style="align-items: center;">
          {{goal.name}}
        </mat-panel-title>
        <mat-panel-description style="align-items: center;">
          
          <mat-progress-bar class="centeredProgressBar" mode="determinate" value="40"></mat-progress-bar>
          <span style="margin-left: 1%;">{{40}}%</span>
          
        </mat-panel-description>
        <button (click)="openEditGoalDialog($event, goal)" mat-icon-button color="primary" style="justify-content: flex-end;" aria-label="Edit" >
            <mat-icon>edit</mat-icon>
          </button>

          <button (click)="openDeleteGoalDialog($event, goal)" mat-icon-button color="primary" style="justify-content: flex-end;"  aria-label="Delete">
            <mat-icon>delete</mat-icon>
          </button>
      </mat-expansion-panel-header>

      <div *ngFor="let sub_goal of goal.subscope">
        <mat-card style="align-items:center; display: flex">

          <span>{{sub_goal.name}}</span>
      
          <button (click)="openEditSubGoalDialog($event, sub_goal)"  mat-icon-button color="primary" style="margin-left: auto;" aria-label="Edit">
            <mat-icon>edit</mat-icon>
          </button>

          <button (click)="openDeleteSubGoalDialog($event, sub_goal)" mat-icon-button color="primary" aria-label="Delete">
            <mat-icon>delete</mat-icon>
          </button>

          <mat-checkbox color="primary" style="padding-left: 10px;"></mat-checkbox>
        
        </mat-card>
      </div>
      
      <br>

      <button (click)="openAddGoalDialog($event)" style="display: block; margin: auto;" mat-stroked-button aria-label="Example icon-button with a heart icon">
        Unterziel hinzufügen 
        <mat-icon>add</mat-icon>
      </button>

    </mat-expansion-panel>
  </div>
</mat-accordion>

<br>

<button (click)="openAddGoalDialog($event)" style="display: block; margin: auto;" mat-stroked-button aria-label="Add Goal">
  Oberziel hinzufügen 
  <mat-icon>add</mat-icon>
</button>