<mat-toolbar *ngIf="this.currentUser !== null">
  <mat-toolbar-row>
    <button mat-raised-button routerLink="./goals">Ziele</button>

    <button *ngIf="currentUser.permission" mat-raised-button class="margin_left_1"
      routerLink="./users">Nutzerübersicht</button>

    <span class="nav_bar_align_right"></span>

    <button (click)="handlePasswordChange($event)" mat-raised-button>
      Passwort ändern
      <mat-icon>vpn_key</mat-icon>
    </button>

    <button (click)="handleLogOut()" routerLink="./login" color="warn" mat-raised-button class="margin_left_1">
      {{currentUser.username}}
      <mat-icon>exit_to_app</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>