<mat-toolbar class="stickyBar" color="primary">
  <mat-toolbar-row>
    <span>Benutzer Übersicht</span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-form-field class="margin_left_form_field">
  <mat-label>Suche</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
  <mat-icon matSuffix>search</mat-icon>

</mat-form-field>

<button (click)="openAddUserDialog($event)" class="button_pos" mat-stroked-button>
  Benutzer hinzufügen
  <mat-icon>add</mat-icon>
</button>

<mat-card>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="users">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef> Vorname </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef> Nachname </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Berechtigung </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.permission ? 'Trainer' : 'Kunde'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="percent">
        <mat-header-cell *matHeaderCellDef> % </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{goalService.getPercentNumberFromUser(element) | number : '1.0-0'}}%
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef width="5%"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="center-cell">
          <button mat-icon-button color="primary" (click)=" openUserGoals($event, element)">
            <mat-icon>outlined_flag</mat-icon>
          </button>
          <button (click)="openEditUserDialog($event, element)" mat-icon-button color="primary">
            <mat-icon>create</mat-icon>
          </button>
          <button (click)="openDeleteUserDialog($event, element)" mat-icon-button color="primary">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</mat-card>