.mat-column-actions{
    display:flex !important;
    justify-content:flex-end!important;
  
}

.margin_left_form_field{
  margin-left: 17px;
}

.button_pos{
  float: right; 
  margin-right: 17px; 
  margin-top: 5px;
}