/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full_width{
    width: 100%;
}

.center_text{
    text-align: center;
}

right_span{
    flex: 1 1 auto;
}
