<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="static/css/home.css">

</head>
<body>
            <br />
            <button id="create">Create</button>
            <button id="listinput">CreateAsList</button>
            <button id="update">Update</button>
            <button id="delete">Delete</button>
            <button id="byname">GetUser</button>
            <button id="alluser">GetUsers</button>
            <p id="basic">test</p>
  <script src="../static/js/seb.js"></script>
</body>
</html>


